<style>
  .centered {
    width: 90%;
    margin: 0 auto;
  }

  .date {
    font-family: 'Courier New';
    font-size: 12px;
  }

  .content {
    font-size: 20px;
  }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  .fa {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
  }

  .fa-heart {
    color: #f44336;
  }

  .fa:hover {
    color: #f44336;
  }
</style>

{{#if user}}
{{#each blogs}}
<div onload="loadFunction()" style="background:white;margin-bottom:2em;padding-right:1em;padding-bottom:0;"
  class="centered">
  <h3 style="display: inline-block;">{{this.blog.title}}</h3>
  <button type="button" class="btn btn-primary float-right">Edit</button>
  <button type="button" class="btn btn-danger float-right">Delete</button>
  <p class="content">{{this.blog.content}}</p>
  <p style="display: inline-block;" class="date">{{this.blog.date}}</p>
</div>
{{/each}}
{{else}}
<h3 align="center">Publish And Read Blogs Here</h3>
{{/if}}

<script>
  function myFunction(x) {
    x.classList.toggle("fa-heart-o");
    x.classList.toggle("fa-heart")
    $.ajax({
      url: '/add-to-like?id=' + x.id,
      method: 'post',
      success: (response) => {
        let myElement = document.getElementById(x.id);
        let currentValue = parseInt(myElement.innerHTML);
        console.log(currentValue);
        myElement.innerHTML = currentValue + response.count;
        console.log(response)
      }
    })
  }
</script>